<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strongduanmu.mapper.qiyiauth.BookMapper">
    <resultMap id="BaseResultMap" type="com.strongduanmu.domain.Book">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from Book
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.strongduanmu.domain.Book">
        insert into Book (id, author, name,
                          price, createTime, description)
        values (#{id,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.strongduanmu.domain.Book">
        update Book
        set author      = #{author,jdbcType=VARCHAR},
            name        = #{name,jdbcType=VARCHAR},
            price       = #{price,jdbcType=DECIMAL},
            createTime  = #{createtime,jdbcType=TIMESTAMP},
            description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, author, name, price, createTime, description
        from Book
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, author, name, price, createTime, description
        from Book
    </select>

    <select id="selectLastInsertId" resultType="integer">
        SELECT LAST_INSERT_ID() AS id
    </select>

    <insert id="replace" parameterType="com.strongduanmu.domain.Book">
        REPLACE INTO Book (author, name, price, createTime, description)
        VALUES (#{author,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
</mapper>